<section class="myDescr">
	<div class="wrapperPhoto">
		<img alt="neak bruno" src="../../assets/img/photoId.png" class="photo" />
	</div>
	<section class="description">
		<p>BONJOUR</p>
		<p>Je suis NEAK Bruno</p>
		<p>Développeur front-end React junior</p>
		<article>
			Diplômé d’une certification professionnelle de niveau 6, à
			l’école-multimédia, j’ai également entrepris de me spécialiser dans le
			javaScript au sein de l’organisme de IFOCOP. Mes qualités : Assimiler
			rapidement, m’adapter à mon environnement et le travail d’équipe. Je suis
			également une personne d’humeur joviale, altruiste et observatrice, autant
			d’atouts qui assureront un climat de sérénité et de challenge au sein de
			votre équipe.<br /><br />
			<strong>
				Je suis actuellement à la recherche d'un emploi, et disponible
				immédiatement, en tant que developpeur front-end React junior.
			</strong>
		</article>
	</section>
	<section class="technoIcons">
		<ul>
			<li>
				<img alt="html" src="../../assets/img/html5.svg" class="sizeIcon" />
			</li>
			<li>
				<img alt="css" src="../../assets/img/css.svg" class="sizeIcon" />
			</li>
			<li>
				<img alt="sass" src="../../assets/img/sass.svg" class="sizeIcon" />
			</li>
			<li>
				<img alt="js" src="../../assets/img/js.svg" class="sizeIcon" />
			</li>
			<li>
				<img alt="react" src="../../assets/img/react.svg" class="sizeIcon" />
			</li>
			<li>
				<img alt="formik" src="../../assets/img/formik.svg" class="sizeIcon" />
			</li>
			<li>
				<img alt="babel" src="../../assets/img/babel.svg" class="sizeIcon" />
			</li>
			<li>
				<img alt="git" src="../../assets/img/github.svg" class="sizeIcon" />
			</li>
			<li>
				<img
					alt="webpack"
					src="../../assets/img/webpack.svg"
					class="sizeIcon"
				/>
			</li>
			<li>
				<img
					alt="bootstrap"
					src="../../assets/img/bootstrap.svg"
					class="sizeIcon"
				/>
			</li>
		</ul>
	</section>
</section>

<section class="xp"></section>

<section class="contact">
	<img
		class="winSkull"
		alt="window and skulls"
		src="../../assets/img/illustration.svg"
	/>
	<section class="dlcv">
		<h3>
			Alors si on <br />
			travaillait ensemble !
		</h3>
		<a href="#" target="_blank">
			<button type="button" class="btnDlcv">Télécharger mon cv.pdf</button>
		</a>
		<a [routerLink]="['/contact']" routerLinkActive="active" class="link">
			<button type="button" class="btnContact">Contactez-moi</button>
		</a>
	</section>
	<section class="social">
		<h3>
			Vous pouvez <br />
			aussi me suivre
		</h3>
		<nav>
			<ul>
				<li>
					<a href="https://github.com/brunosneak" target="_blank">
						<img alt="github" src="../../assets/img/iconeGit.svg" />
						<p>github.com/brunosneak</p>
					</a>
				</li>
				<li>
					<a href="https://linkedin.com/in/bruno-neak" target="_blank">
						<img alt="linkedin" src="../../assets/img/linkedin.svg" />
						<p>linkedin.com/in/bruno-neak</p>
					</a>
				</li>
			</ul>
		</nav>
	</section>
</section>
