.bgLeaf {
	background-image: url("../../assets/img/leafBlock.svg");
	background-repeat: no-repeat;
	background-position: top;
	height: 20rem;
	left: 0;
	margin: 0;
	position: absolute;
	text-align: center;
	top: 0;
	right: 0;
	z-index: 10;
}
