@mixin responsive($device) {
	// mobile mode portrait
	@if $device == mobile {
		@media screen and (max-width: 575.98px) {
			@content;
		}
	}
	// mobile mode paysage
	@if $device == smartphone {
		@media screen and (max-width: 767.98px) {
			@content;
		}
	}
	// tablette
	@if $device == tablette {
		@media screen and (max-width: 991.98px) {
			@content;
		}
	}
	// desktop
	@if $device == desktop {
		@media screen and (max-width: 1199.98px) {
			@content;
		}
	}
}

@include responsive(desktop) {
}

@include responsive(tablette) {
}

@include responsive(smartphone) {
}

@include responsive(mobile) {
	.container {
		grid-template-columns: auto;
		grid-template-columns: 1fr 15fr 1fr;
		.bgForm {
			border-radius: 3rem 3rem 0 0;
			flex-direction: column;
			justify-content: center;
			.contact {
				grid-template-rows: none;
				padding: 0;
				width: 100%;
				justify-content: center;
				font-size: 1.6rem;
				text-align: center;
				h2 {
					font-size: 2.5rem;
					margin-bottom: 1rem;
				}
				.coord {
					p,
					a {
						margin-bottom: 1rem;
					}
					p {
						display: none;
					}
				}
				.social {
					a {
						margin-bottom: 1rem;
						display: none;
					}
				}
				img {
					height: 2.5rem;
					width: 2.5rem;
				}
			}
			.myForm {
				width: 100%;
				justify-content: center;
				form {
					width: 80%;
					label {
						margin-top: 0;
					}
					textarea {
						height: 8rem;
					}
					button {
						align-self: center;
					}
				}
			}
		}
	}
}
