<div class="container">
	<div class="bgForm">
		<section class="contact">
			<h2>CONTACT</h2>
			<section class="coord">
				<p>
					<img alt="localisation" src="../../assets/img/map.svg" />
					Paris, France
				</p>
				<a href="tel:+33650381812">
					<img alt="numero de telephone" src="../../assets/img/mobile.svg" />
					06 50 38 18 12
				</a>
			</section>
			<section class="social">
				<a href="https://github.com/brunosneak" target="_blank">
					<img alt="github" src="../../assets/img/iconeGit.svg" />
					github.com/brunosneak
				</a>
				<a href="https://www.linkedin.com/in/bruno-neak/" target="_blank">
					<img alt="linkedin" src="../../assets/img/iconeLinkedin.svg" />
					linkedin.com/in/bruno-neak
				</a>
			</section>
		</section>
		<section class="myForm">
			<form>
				<label i18n>Nom *</label>
				<input type="text" />
				<label>Email *</label>
				<input type="text" />
				<label>Message *</label>
				<textarea type="text"></textarea>
				<p class="champs" i18n>* champs obligatoires</p>
				<button type="submit" i18n>Envoyer</button>
			</form>
		</section>
	</div>
	<div class="bg1"></div>
	<div class="bg2"></div>
</div>
