.navToggle {
	align-items: center;
	background-color: #fff;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 0 2rem 2rem 0;
	display: flex;
	justify-content: center;
	height: 100vh;
	position: relative;
	width: 40rem;
	z-index: 20;
	.menuBurger {
		align-items: center;
		background-color: #000000;
		border: 0.2rem solid #fff;
		border-radius: 5rem;
		display: flex;
		flex-direction: column;
		height: 6rem;
		opacity: 0.7;
		width: 6rem;
		position: absolute;
		top: 2rem;
		right: 2rem;
		cursor: pointer;
		span {
			background-color: #fff;
			border-radius: 1rem;
			height: 0.3rem;
			left: 0;
			margin: 0.4rem 0;
			opacity: 1;
			position: relative;
			top: 1.2rem;
			width: 3rem;
		}
		.isOpen1 {
			transition: transform 0.5s, width 0.5s, left 0.5s;
			left: 0.5rem;
			transform: rotate(45deg);
			width: 55%;
			transform-origin: top left;
		}
		.isClosed1 {
			transition: transform 0.5s, width 0.5s, left 0.5s;
			left: 0;
			transform: rotate(0);
			width: 50%;
			transform-origin: top left;
		}
		.isOpen2 {
			opacity: 0;
			transition: opacity 0.5s;
		}
		.isClosed2 {
			opacity: 1;
			transition: opacity 0.5s;
		}
		.isOpen3 {
			transition: transform 0.5s, width 0.5s, left 0.5s;
			left: 0.3rem;
			transform: rotate(-45deg);
			width: 55%;
			transform-origin: top left;
		}
		.isClosed3 {
			transition: transform 0.5s, width 0.5s, left 0.5s;
			left: 0;
			transform: rotate(0);
			width: 50%;
			transform-origin: top left;
		}
	}
	ul {
		display: flex;
		flex-direction: column;
		li {
			color: #000;
			font-size: 2.5rem;
			margin-bottom: 2.5rem;
			text-align: center;
			&::after {
				content: "";
				background-color: #000;
				display: flex;
				height: 0.1rem;
				margin-top: 2rem;
				width: 20rem;
			}
		}
		:last-child::after {
			content: none;
		}
	}
}
.navOpen {
	left: 0;
	transition: left 0.5s;
}
.navClosed {
	left: -30rem;
	transition: left 0.5s;
}
